{% extends "base.html" %}
{%block title%}About us{%endblock%}
{% load static %}
{% block css %}

<style>

.w3l-middle {
    background: url({{ AboutUs.5.image.url }}) no-repeat center;
    background-size: cover;
 }

 header.nav-fixed {
  padding: 0px;
  background-color: var(--bg-color);
  border-bottom: none;
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03); }

</style>
{% endblock %}
{% block header %}
<section class="w3l-about-breadcrumb">
  <div class="breadcrumb-bg breadcrumb-bg-about py-5">
      <div class="container py-lg-4 py-md-3">
          <h2 class="title">Giới thiệu</h2>
      </div>
  </div>
</section>
{% endblock %}
{% block content %}
<section class="w3l-servicesblock py-5" id="about">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
            <div class="col-lg-8 about-right-faq align-self">
                <span class="title-small mb-2">Heart of AeLagi's Best</span>
                <h3 class="title-big mx-0"> {{ AboutUs.0.title }}</h3>
                <p class="mt-lg-4 mt-3">{{ AboutUs.0.content }} </p>
                <a class="btn btn-style btn-primary mt-lg-5 mt-4" href="#"> Xem thêm</a>
            </div>
            <div class="col-lg-4 mt-lg-0 mt-5">
                <img src="{{ AboutUs.0.image.url }}" alt="" class="img-fluid radius-image">
            </div>
        </div>
    </div>
</section>
<section class="w3l-specification-6 py-5">
    <!-- /specification-6-->
    <div class="specification-6-mian py-lg-5 py-md-4 py-2">
        <div class="container">
            <div class="align-counter-6-inf-cols row">
                <img class="counter-6-inf-left col-lg-6" src="{{ AboutUs.1.image.url }}">
                </img>
                <div class="counter-6-inf-right col-lg-6">
                    <h3 class="title-big">{{ AboutUs.1.title }}</h3>
                    <p class="mt-4">{{ AboutUs.1.content }}</p>
                    <a class="btn btn-style btn-primary mt-lg-5 mt-4" href="#"> Khám phá thêm</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //specification-6-->
<!-- /homeblock2-->
<section class="w3l-homeblock2 py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
            <div class="col-lg-4 col-md-6 grids-feature">
                <div class="area-box">
                    <span class="fa fa-coffee"></span>
                    <h4><a href="#feature" class="title-head">{{ AboutUs.2.title }}</a></h4>
                    <p>{{ AboutUs.2.content }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-5">
                <div class="area-box">
                    <span class="fa fa-glass"></span>
                    <h4><a href="#feature" class="title-head">{{ AboutUs.3.title }}</a></h4>
                    <p>{{ AboutUs.3.content }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-5">
                <div class="area-box">
                    <span class="fa fa-pagelines"></span>
                    <h4><a href="#feature" class="title-head">{{ AboutUs.4.title }} </a></h4>
                    <p>{{ AboutUs.4.content }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //homeblock2-->
<!-- middle -->
<div class="w3l-middle py-5" >
    <div class="container py-lg-5 py-md-4">
        <div class="welcome-left">
            <h3 class="title-small">Coffee Shop</h3>
            <h3 class="title-big mb-4">{{ AboutUs.5.title }}</h3>
            <p class="pr-lg-5">{{ AboutUs.5.content }}</p>
            <div class="buttons mt-md-5 mt-4">
                <a href="about.html" class="btn btn-style btn-primary mr-2">Find near you</a>
            </div>
        </div>
    </div>
</div>
<!-- //middle -->
<section class="w3l-team section py-5" id="team">
    <div class="container py-lg-5 py-md-4">
        <h5 class="title-small text-center">Our team</h5>
        <h3 class="title-big text-center mb-md-5 mb-4">Team Members</h3>
        <div class="row">
            <div class="section_content teamy-team">
                {% for member in OurTeam %}
                <div class="col-lg-3 col-6 {% if forloop.counter > 4 %}mt-lg-3 mt-5 {% endif %}">
                    <div class="teamy teamy_style1 teamy_mask-circle">
                        <div class="teamy_layout">
                            <div class="teamy_preview">
                                <img src="{{ member.avatar.url }}" class="radius-image img-fluid w-100" alt="Avatar of {{ member.memberName }}">
                            </div>
                            <div class="teamy_back">
                                <div class="teamy_back-inner">
                                    {% if member.facebook %}
                                        <a href="{{ member.facebook }}" class="social" target="_blank" rel="noopener noreferrer">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    {% endif %}
                                    {% if member.instagram %}
                                        <a href="{{ member.instagram }}" class="social" target="_blank" rel="noopener noreferrer">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    {% endif %}
                                    {% if member.twitter %}
                                        <a href="{{ member.twitter }}" class="social" target="_blank" rel="noopener noreferrer">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    {% endif %}
                                    {% if member.email %}
                                        <a href="mailto:{{ member.email }}" class="social">
                                            <i class="fa fa-envelope-o"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="teamy_content">
                            <a href="#url" class="teamy_name">{{ member.memberName }}</a>
                            <span class="teamy_post">{{ member.position }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
